<div class="main">
    <h2>Product List</h2>
    <p>Total Products: {{ total }}</p>
    <div class="products">
    <ul>
      <li *ngFor="let product of products">
        <h3>{{ product.title }}</h3>
        <p>Description: {{ product.description }}</p>
        <p>Price: {{ product.price }}</p>
        <p>Rating: {{ product.rating }}</p>
        <p>Stock: {{ product.stock }}</p>
        <img [src]="product.thumbnail" alt="{{ product.title }}" style="max-width: 100px;">
      </li>
    </ul>
  </div>
  </div>
  